.buy-box {
  font-family: Proxima Nova,Helvetica Neue,Roboto,Helvetica,Arial,sans-serif;
  padding: 20px 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  order: 3;
  .title {
    font-weight: 400;
    font-size: 26px;
    width: 90%;
    line-height: 1.05;
  }
  .price {
    overflow: visible;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1em;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .ch-btn {
    width: 90%;
    height: 40px;
    align-self: center;
  }
}
@media all and (max-width: 375px) {
  .buy-box {
    width: 100%;
    .title, .price {
      align-self: center;
    }
  }
}
