.buy-box {
  font-family: $font-family-primary;
  padding: 20px 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  order: 3;
  .title {
    font-weight: 400;
    font-size: 26px;
    width: 90%;
    line-height: 1.05;
  }
  .price {
    overflow: visible;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1em;
    font-size: 44px;
    font-weight: 300;
    width: 90%;
  }
  .free-shipping {
    color: #468847;
    overflow: auto;
    height: 19px;
    display: flex;
    span {
      color: #468847;
      font-size: 16px;
      margin: 0 7px 0 0;
    }
  }
  .ch-btn {
    width: 90%;
    height: 40px;
    align-self: left;
    margin-top: 30px;
  }
  .ch-icon-star {
    color: #eee;
  }
  .full {
    color: #3e52a1;
  }
}
@media all and (max-width: 375px) {
  .buy-box {
    width: 100%;
    .title, .price {
      align-self: center;
    }
  }
}
