$background-color-primary: #fff;
$header-background-color: #fff059;;
$background-color-secondary: #EEEEEE;;
$text-color-primary: #000;
$text-color-secondary: #999;
$text-color-tertiary: #fff;

$font-family-primary: Proxima Nova, Helvetica Neue,Roboto, 'Open Sans', Helvetica,Arial,sans-serif;;
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-small: 12px;

$hover-color: #ff6c00;
$main-bg-color: $background-color-secondary;
