/** FOOTER CARD **/
/* FILTER */
/** FOOTER CARD **/
/* FILTER */
#result-list {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: min-content; }
  #result-list .show-list {
    width: 80%;
    flex-direction: column;
    min-height: min-content;
    background: #fff;
    flex-wrap: wrap;
    display: flex; }

.result-items {
  display: flex; }
  .result-items article {
    width: 100%;
    list-style: none;
    font-family: Proxima Nova, Helvetica Neue, Roboto, "Open Sans", Helvetica, Arial, sans-serif;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    margin: 0 0 15px; }
    .result-items article .bt-ml {
      position: absolute;
      right: 0; }
    .result-items article .price {
      font-size: 24px; }
    .result-items article small {
      position: static;
      display: block;
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      letter-spacing: .2px;
      color: #666; }
    .result-items article .free-shipping {
      color: #468847;
      flex: 1 1 auto;
      overflow: auto;
      display: flex;
      flex-direction: row-reverse;
      margin-right: 23px; }
      .result-items article .free-shipping span {
        color: #468847;
        font-size: 16px;
        padding: 2px 0; }
    @media all and (max-width: 375px) {
      .result-items article #result-list .show-list {
        width: 100%; } }
    .result-items article figure {
      border-radius: 4px;
      display: inline-block;
      height: 90px;
      margin: 24px;
      min-width: 90px;
      overflow: hidden;
      width: 90px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** FOOTER CARD **/
/* FILTER */
#formSearch input[type="text"] {
  height: 20px; }

#formSearch button {
  padding: 6px 8px;
  line-height: 19px; }
  #formSearch button span {
    margin: 0; }

.header-ml {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 99;
  min-height: 44px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #777777;
  background-color: #fff059;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0; }

.search-field {
  width: 780px; }

h1.logo {
  margin: 0;
  width: 52px;
  background: url(/image/logo-large-new.png) no-repeat left center;
  background-size: 58px auto;
  text-indent: -99999px; }

/* Medium screens */
@media all and (max-width: 800px) {
  .header-ml {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */ } }

/* Small screens */
@media all and (max-width: 375px) {
  .header-ml {
    width: 355px; }
    .header-ml form {
      width: 90%; }
      .header-ml form input[type="text"] {
        width: 64%; }
  .show-result img {
    width: 100%; } }

.buy-box {
  font-family: Proxima Nova,Helvetica Neue,Roboto,Helvetica,Arial,sans-serif;
  padding: 20px 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  order: 3; }
  .buy-box .title {
    font-weight: 400;
    font-size: 26px;
    width: 90%;
    line-height: 1.05; }
  .buy-box .price {
    overflow: visible;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1em;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 30px; }
  .buy-box .ch-btn {
    width: 90%;
    height: 40px;
    align-self: center; }

@media all and (max-width: 375px) {
  .buy-box {
    width: 100%; }
    .buy-box .title, .buy-box .price {
      align-self: center; } }

.description {
  padding: 22px;
  width: 100%;
  order: 4; }
  .description h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
    line-height: 1; }

.show-result {
  font-family: Proxima Nova, Helvetica Neue, Roboto, "Open Sans", Helvetica, Arial, sans-serif;
  width: 80%;
  min-height: min-content;
  background: #fff;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row; }
  .show-result .bread-nav {
    order: 1;
    width: 100%;
    background: #eee;
    padding: 12px 0; }
    .show-result .bread-nav ul {
      display: flex; }
      .show-result .bread-nav ul li {
        display: flex; }
      .show-result .bread-nav ul span {
        padding-top: 3px;
        color: #333; }
  .show-result figure {
    width: 60%;
    justify-content: center;
    display: flex;
    order: 2;
    margin-top: 22px; }
    .show-result figure img {
      margin-left: 22px;
      flex: 1;
      object-fit: contain; }
    .show-result figure li.ch-carousel-item {
      display: flex; }

@media all and (max-width: 375px) {
  .show-result {
    width: 100%; }
    .show-result figure {
      width: 100%;
      justify-content: center;
      display: flex; }
      .show-result figure img {
        margin: 0; }
      .show-result figure .description {
        padding: 0; } }

body {
  background-color: #EEEEEE;
  padding: 0; }
